<!-- 
<form (submit)="formSubmit(registerForm)" #registerForm="ngForm">

    name
    <input name="name">

    age
    <input name="age">

    Location
    <select name="location">
        <option>colombo</option>
        <option>gampaha</option>
        <option>matara</option>
    </select>

    gender

    male
    <input type="radio" name="gender" value="male">

    Female
    <input type="radio" name="gender" value="female">

    <button type="submit">submit</button>
</form> -->

<app-child (trigger)="fromChild($event)"></app-child>
Hello world
<div *ngFor="let mark of marks2">
    {{mark}}
</div> 

<!-- @for (mark of marks; track $index) {
    @if(mark>70){
    {{mark}}
    }
}  -->

